<div class="border rounded border-dark">
    <h1 class="h4 text-center card-header mx-auto my-2">{{user.username}} Orders</h1>
    <div class="row m-0 p-0">
        
        {% if order == None %}
        <p class="h3 mx-auto text-center text-warning fw-bold">
            No Orders Yet.
        </p>
        {% else %}
        {% for order in order %}
        {% if order.To == user.email %}
        {% for odr_product in odr_product %}
        {% if order.OrderNumber == odr_product.OrderNumber %}
            
        <div class="col-md-6 p-2">
            <div class="card shadow mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ritik-singh-projects.s3.ap-south-1.amazonaws.com/upload/{{odr_product.Product.Image}}" alt="" class="img-fluid">
                    </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{odr_product.Product.Name}}</h5>
                            <p><b>Order Status :</b> ${{order.Amount}} - {{order.Status}}</p>
                            <p class="card-text"><small class="text-muted">{{order.OrderDate}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}

        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>